/* Header.css */
.header {
  background-color: #f0f0f0; /* Light theme background color */
  color: #333; /* Light theme text color */
  padding: 1rem;
}

.header-dark {
  background-color: #333; /* Dark theme background color */
  color: #f0f0f0; /* Dark theme text color */
}
